

.list {
  @apply flex flex-wrap 
    mb-[4.5rem] translate-x-[-0.25rem];
}

.sentence {
  @apply m-1 h-min;
}

.image {
  @apply opacity-60 !h-5;
}

.text {
  @apply title;
}

.decoration {
  @apply inline-block leading-normal md:text-8xl relative 
   border-wrap !py-0 after:content-['+'] before:content-['+'] 
    after:absolute after:bottom-[-20px] after:right-[-4px] before:absolute 
    before:top-[-20px] before:left-[-3px] before:text-xl 
    after:drop-shadow-2xl before:drop-shadow-2xl mb-2
    after:text-xl before:text-primary after:text-primary;
}

.section {
  @apply pb-40;
}

.box {
  @apply lg:w-4/5 xl:w-2/3;
}

.guarantees {
  @apply desc mb-8 block;
}

.circle {
  @apply hidden xl:block absolute 
    top-[10rem] right-0 opacity-[15%] w-[45%];
}
