.section {
    @apply pb-40;
}

.tile {
    @apply up-title border-after 
    after:mt-4 after:mb-12;
}

.list {
    @apply xl:flex xl:flex-wrap
    xl:justify-between;
}

.sentence {
    @apply mb-20 last:mb-0 
    xl:w-[49.25%] xl:last:w-full border-wrap;
}

.date {
    @apply tag mb-12 m-0;
}

.name {
    @apply title mb-4;
}

.icon {
    @apply absolute 2sm:block text-accent
    top-0 right-0 hidden border-wrap;
}

.supptitle {
    @apply title;
}

.description {
    @apply block text 
    4sm:w-10/12 md:w-2/3;
}