.sentence {
  @apply p-4 pb-12 relative before:content-[''] before:block 
  before:w-[98%] before:h-full before:absolute before:top-0 
  before:left-slice before:border-light before:border-primary-op
  before:rounded-xl flex-full xl:flex-half;
}

.client {
  @apply block desc mb-4;
}

.content {
  @apply flex mb-4;
}

.image {
  @apply rounded-xl mr-4;
}

.name {
  @apply tag m-0 mb-4;
}

.description {
  @apply block md:w-[95%] text;
}

.description > p > span {
  @apply title;
}

.ranked {
  @apply desc;
}