.section {
  @apply pb-40;
}

.tile {
  @apply up-title border-after 
  after:mt-4 after:mb-12;
}

.overlay {
  @apply block w-full h-full z-10 bg-second
  rounded-xl top-0 left-0 absolute translate-y-[-100%]
  text-primary p-5;
}

.suptitle {
  @apply title mb-4;
}

.description {
  @apply text;
}

.sentence {
  @apply mb-20 last:mb-0 
  xl:w-x1/2 overflow-hidden;
}

.sentence:last-child ul {
  @apply after:hidden;
}

.sentence:nth-last-child(2) ul {
  @apply xl:after:hidden;
}

.sentence a {
  @apply block;
}

.sentence:hover a {
  @apply relative;
}

.sentence:hover a > .content .overlay {
  @apply translate-y-0;
  transition: all 0.5s ease-in-out;
}

.sentence:hover a > .content {
  @apply border-accent;
  transition: all 0.5s ease-in-out;
}


.sentence:hover a > .taglist {
  @apply after:bg-accent;
}

.content {
  @apply relative block h-[400px] mb-12 
  border-[0.05rem] border-transparent rounded-xl;
}

.image {
  @apply object-cover rounded-xl;
}

.tagtext {
  @apply title mb-4 h-20 2sm:w-4/5 
  4sm:w-2/3 xl:w-5/6 md:h-36;
}

.taglist {
  @apply flex flex-wrap translate-x-[-0.25rem] 
  after:content-[''] after:block after:w-full after:h-[0.05rem]
after:bg-primary after:mt-9 after:translate-x-[0.25rem];
}

.tagsentence {
  @apply tag;
}

.list {
  @apply xl:flex xl:flex-wrap 
  xl:justify-between;
}
