.section {
    @apply pb-40;
}

.tile {
    @apply up-title border-after
     after:mt-4 after:mb-12;
}

.list {
    @apply xl:flex xl:flex-wrap
     xl:justify-between;
}

.sentence {
    @apply mb-20 last:mb-0 xl:w-x1/2 
    xl:odd:mb-0 xl:first:!mb-20 border-wrap;
}

.experience {
    @apply desc block mb-4;
}

.content {
    @apply center border-wrap
     md:px-8 mb-12 relative;
}

.progressbar {
    @apply block h-[64px] bg-accent rounded-xl 
    absolute top-[4px] left-[4px] opacity-70;
}

.progress {
    @apply translate-y-[0.05rem];
}

.skill {
    @apply title mb-4;
}

.taglist {
    @apply flex flex-wrap 
    translate-x-[-0.25rem];
}

.tagsentence {
    @apply tag;
}